<h1>Contact</h1>
<p><a href="https://substack.com/@humtheman" target="_blank" >Substack</a> • <a href="https://twitter.com/humtheman?t=kVukJR0rsSclOKLV9_RhhQ&s=09" target="_blank">Twitter</a> • <a href="https://www.instagram.com/humtheman/" target="_blank">Instagram</a></p>